<html>

<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Ez-Date-Picker</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet"/>
    <link href="https://rawgit.com/jdewit/ez-dropdown/master/dist/ez-dropdown.min.css" rel="stylesheet"/>

    <link href="demo/style.css" rel="stylesheet"/>

    <link href="dist/ez-datetime.css" rel="stylesheet"/>


		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>

    <script src="https://rawgit.com/jdewit/ez-transition/master/dist/ez-transition.min.js"></script>

    <script src="https://rawgit.com/jdewit/ez-modal/master/dist/ez-modal.min.js"></script>
    <script src="https://rawgit.com/jdewit/ez-modal/master/dist/ez-modal-tpl.min.js"></script>

    <script src="https://rawgit.com/jdewit/ez-dropdown/master/dist/ez-dropdown.min.js"></script>

		<script src="dist/ez-datetime.js"></script>
		<script src="dist/ez-datetime-tpl.js"></script>

    <script src="demo/script.js"></script>

</head>

<body ng-app="myApp" class="container">
	<h2><a href="#">ez-datetime</a></h2>
	<hr>

  <div ng-controller="myCtrl" class="col-lg-6 col-md-6">
    <h3>Button Control</h3>

    <a class="btn btn-default" ez-datetime-control ng-model="form.date1" config="config1" model-format="x">
      <i class="glyphicon glyphicon-calendar"></i>
      {{ form.date1 ? (form.date1 | ezDate:'MMMM Do, YYYY [at] h:mma') : 'Pick a Date' }}
    </a>

    <a ng-if="!!form.date1" ng-click="form.date1 = null">- clear</a>

    <br>
    Model value => {{ form.date1 || 'null' }}

    <hr>
    <h3>Input Control - limit range</h3>

    <form name="_form">
      <div class="input-group">

        <input class="form-control" ez-datetime-control type="text" ng-model="form.date3" from="form.date3From" to="form.date3To" view-format="YYYY-MM-DD h:mma" ng-change="log('date3 changed')"/>

        <div class="input-group-addon">
          <a ez-datetime-control ng-model="form.date3" view-format="YYYY-MM-DD h:mma">
            <i class="glyphicon glyphicon-calendar"></i>
          </a>
        </div>
      </div>
    </form>

    <hr>
    <h3>Range Selector</h3>

    <form name="_form4">
      <a ez-datetime-control ng-model="form.date4Range" from="form.date4RangeFrom" to="form.date4RangeTo" range-enabled="true"/>
        {{ (form.date4Range.from | ezDate:'MMM Do, YYYY [at] h:mma')|| 'Start Date' }} - {{ (form.date4Range.to | ezDate:'MMM Do, YYYY [at] h:mma') || 'End Date' }}
      </a>
    </form>
    Form Dirty State => {{ _form4.$dirty }}
    <br>
    Model value => {{ form.date4Range || 'null' }}

    <hr>

    <h3>Input Range Selector</h3>

    <form name="_form5">
      <input class="form-control" type="text" ez-datetime-control ng-model="form.date5Range" from="form.date5RangeFrom" to="form.date5RangeTo" ng-change="log('date5Range changed')"/>
    </form>
    Form Dirty State => {{ _form5.$dirty }}
    <br>
    Model value => {{ form.date5Range || 'null' }}

    <hr>

    <h3>Input Control Range</h3>
    <div class="row">
      <div class="col-lg-5 col-md-5">
        <input class="form-control" type="text" ez-datetime-control ng-model="form.from2" to="form.to2" placeholder="Select a start date..."/>
      </div>
      <div class="col-lg-1 col-md-1" style="text-align: center;">-</div>
      <div class="col-lg-5 col-md-5">
        <input class="form-control" ez-datetime-control type="text" ng-model="form.to2" from="form.from2" placeholder="Select a due date..."/>
      </div>
    </div>

    <hr>
    <h3>Standalone Datepicker</h3>
    <div ez-date-picker ng-model="form.date5" start-view="year" style="border: 1px solid #ccc; border-radius: 5px;"></div>
    <br>
    Model value => {{ form.date5 || 'null' }}

    <hr>
    <h3>Standalone Timepicker</h3>
    <div ez-time-picker ng-model="form.time1" seconds-enabled="true"></div>
    <br>
    Model value => {{ form.time1 || 'null' }}

  </div>
</body>

</html>
