<table class="ez-time-picker">
  <tr>
    <td>
      <div dropdown>
        <a dropdown-toggle class="btn btn-default">
          {{ ngModel | ezDate:options.hourFormat }}
        </a>
        <ul class="dropdown-menu dropdown-pointer">
          <li ng-repeat="hour in data.hours"><a ng-click="setHour(hour)">{{ hour }}</a></li>
        </ul>
      </div>
    </td>
    <td>:</td>
    <td>
      <div dropdown>
        <a dropdown-toggle class="btn btn-default">
          {{ ngModel | ezDate:options.minuteFormat }}
        </a>
        <ul class="dropdown-menu dropdown-pointer">
          <li ng-repeat="minute in data.minutes">
            <a ng-click="setMinute(minute)">{{ minute }}</a>
          </li>
          <li ng-hide="data.minuteStep == 1"><a ng-click="increaseMinuteStep($event)"><i class="glyphicon glyphicon-option-horizontal"></i></a></li>
        </ul>
      </div>
    </td>
    <td ng-if="options.secondsEnabled">:</td>
    <td ng-if="options.secondsEnabled">
      <div dropdown>
        <a dropdown-toggle class="btn btn-default">
          {{ ngModel | ezDate:options.secondFormat }}
        </a>
        <ul class="dropdown-pointer">
          <li ng-repeat="second in data.seconds">
            <a ng-click="setSecond(second)">{{ second }}</a>
          </li>
          <li ng-hide="data.secondStep == 1"><a ng-click="increaseSecondStep($event)"><i class="glyphicon glyphicon-option-horizontal"></i></a></li>
        </ul>
      </div>
    </td>

    <td></td>
    <td>
      <a class="btn btn-default meridiem-btn" ng-click="toggleMeridiem()">{{ ngModel | ezDate:options.meridiemFormat }}</a>
    </td>
  </tr>
</table>
