<div class="ez-datetime-modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()">
      <span>×</span>
    </button>

    <h4 class="modal-title">
      <i class="{{ options.headingIcon }}"></i>
      {{ options.rangeHeadingText }}
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="range-from col-lg-6 col-md-6 col-sm-6">
        <div ez-date-picker ng-model="form.from" max-date="form.maxDate" to="form.to" options="options"></div>

        <div ng-if="options.timepickerEnabled && !!form.from">
          <hr>

          <div ez-time-picker ng-model="form.from" options="options"></div>
        </div>

      </div>
      <div class="range-to col-lg-6 col-md-6 col-sm-6">
        <div ez-date-picker ng-model="form.to" min-date="form.minDate" from="form.from" options="options"></div>

        <div ng-if="options.timepickerEnabled && !!form.to">
          <hr>

          <div ez-time-picker ng-model="form.to" options="options"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <div class="left-btn-group">
      <span dropdown class="quick-select dropup" ng-if="options.shortcutsEnabled && shortcuts.length > 0">
        <a dropdown-toggle class="btn btn-default">
          <i class="{{ options.shortcutBtnIcon }}"></i>
          <span ng-if="!form.shortcut">{{ options.shortcutBtnText }}</span>
          <span ng-if="!!form.shortcut">{{ form.shortcutName }}</span>
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li ng-repeat="shortcut in shortcuts"><a ng-click="select($index)">{{ options.shortcutNamePrefix }}{{ shortcut.name }}</a></li>
        </ul>
      </span>

      <a class="btn btn-default clear-btn" title="Clear Date" ng-click="clear()" ng-if="!!form.from || !!form.to">
        <span class="{{ options.clearBtnIcon }}"></span>
      </a>
    </div>


    <a class="btn btn-default" ng-click="dismiss()">
      <i class="{{ options.cancelBtnIcon }}"></i> {{ options.cancelBtnText }}
    </a>
    <a class="btn btn-lg btn-primary" ng-click="ok()">
      <i class="{{ options.okBtnIcon }}"></i> {{ options.okBtnText }}
    </a>
  </div>
</div>
