<div class="ez-datetime-modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()">
      <span>×</span>
    </button>

    <h4 class="modal-title">
      {{ options.rangeHeading }}:
      <span>
        <small>{{ !!form.from ? (form.from | ezDate:'lll') : options.nullText }}</small>
        <small>- {{ !!form.to ? (form.to | ezDate:'lll') : options.nullText }}</small>
      </span>
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="range-from col-lg-6 col-md-6 col-sm-6">
        <div ez-date-picker ng-model="form.from" to="form.to" options="options"></div>

        <div ng-if="options.timepickerEnabled && !!form.from">
          <hr>

          <div ez-time-picker ng-model="form.from" options="options"></div>
        </div>

      </div>
      <div class="range-to col-lg-6 col-md-6 col-sm-6">
        <div ez-date-picker ng-model="form.to" from="form.from" options="options"></div>

        <div ng-if="options.timepickerEnabled && !!form.to">
          <hr>

          <div ez-time-picker ng-model="form.to" options="options"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a class="btn btn-default" ng-click="dismiss()">
      <i class="glyphicon glyphicon-remove"></i> {{ options.cancelBtnText }}
    </a>
    <a class="btn btn-lg btn-primary" ng-click="ok()">
      <i class="glyphicon glyphicon-ok"></i> {{ options.okBtnText }}
    </a>
  </div>
</div>
